[submodule ".config/nvim"]
	path = .config/nvim
	url = ../nvim.git
	branch = main
[submodule ".config/fish"]
	path = .config/fish
	url = ../fish.git
	branch = main
[submodule ".config/transmission-daemon"]
	path = .config/transmission-daemon
	url = ../transmission-daemon.git
	branch = main
